/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 其他設定 */
*,*:before,*:after{
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.5;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg);
    background-repeat: no-repeat;
    background-position: right top;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
sub{
    vertical-align: sub;
}

/*wrap*/
.wrap {
    max-width: 1085px;;
    margin: 0 auto;
  }
/*header*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    max-width: 1120px;   
}
.header h1 a{
    display: block;
    width: 218px;
    height: 40px;
}
.header-btn{
    background: #FF5D50;
    display: block;
    padding: 12px 32px;
    border: none;
    border-radius: 22px;
    color: white;
    text-decoration: none; 
}
/*banner*/
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 217px;
}
.banner-txt{
    width: 50%;
}
.banner-txt h2 {
    font-size: 18px;
    color: #56C4C5;
    font-weight: bold;
    margin-bottom: 8px;
}

.banner-txt h3 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.banner-txt h4 {
    font-size: 20px;
    padding-left: 3px;
}
.banner img{
    max-width: 532px;
    height: 534px;
}
/*platform*/
.platform{
    margin-bottom: 100px;
}
.platform h2{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 48px;
}
.platform-type{
    display: flex;
    justify-content: space-evenly;
}
.platform-type li{
    width: 23%;
    text-align: center;
}
.platform-type img {
    width: 90px;
    height: 90px;
    margin-bottom: 24px;
}
.platform-type h3{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.platform-type h4{
    color: #747474;
    text-align: center;
    font-size: 16px;
    padding-top: 24px;
}
/*situation*/
.situation{
    margin-bottom: 100px;   
}
.situation h2{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
}
.situation>p{
    font-size: 20px;
    text-align: center;
    margin-bottom: 48px;
}
.situation-item{
    display: flex;
    justify-content: space-between;
}
.situation-item li{
    border-radius: 12px;
    box-shadow: 0px 2px 10px #00000014;
    width: 24%;
}
.situation-item img{
    width: 260px;
    border-radius: 12px 12px 0px 0px;
}
.situation-txt{
    padding: 16px 16px 24px 16px;
    text-align: center;
}
.situation-txt h3{
    color: #56C4C5;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 16px;
}
.situation-txt p{
    font-size: 16px;
}
/*feature*/
.feature{
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature ul{
    width: 50% ;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.feature ul li {
    width: 45%;    
    padding: 32px 32px 48px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px #00000014;
}
.featureimg-bg{
    width: 86px;
    height: 86px;
    padding: 17px;
    border-radius: 50%;
    box-shadow: 0px 2px 10px #00000014;
    margin-bottom: 24px;
}
.feature ul li img {
    width: 52px;
    height: 52px;
}
.feature ul li h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}
.feature ul li p{
    font-size: 16px;
}
.feature-txt{
    width: 38%;
}
.feature-txt h2 {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 16px;
}
.feature-txt p{
    font-size: 18px;
    margin-bottom: 24px;
}
.feature-txt a {    
    display: inline;
    padding: 12px 32px;
    border-radius: 27px;
    color: white;
    background-color: #56C4C5;
}
.feature-txt a:hover{
    border: 1px solid #56C4C5;
    background-color: white;
    padding: 11px 31px;
    color: #56C4C5;   
}
/*comment*/
.comment h2{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 108px;
}
.comment ul{
    display: flex;
    margin-bottom: 100px;
}
.comment ul li{
    position: relative;
    padding: 48px 32px 24px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px #00000014;
    background-color: white;
}
.comment ul>li>img{
    position: absolute;
    border-radius: 50%;
    top: -60px;
    left: 32px;
    width: 80px;
    height: 80px;
}
.comment ul li p{
    font-size: 16px;
    padding-bottom: 22px;
    border-bottom: 2px solid #E5E4E2;
    margin-bottom: 24px;
}
.comment ul li h3{
    font-weight: bold;
    margin-bottom: 8px;
}
.comment ul li h4{
    font-size: 16px;
}
.comment-star{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*footer*/
.footer{
    height: 503px;
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg);
    background-repeat: no-repeat;
    background-size:contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 260px 0px 200px 0px;
}
.footer h3 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 48px;
}
.footer a{
    background-color: #56C4C5;
    display: inline;
    padding: 12px 32px;
    border-radius: 27px;
    color: white;
}
.footer a:hover {
    border: 1px solid #56C4C5;
    background-color: white;
    padding: 11px 31px;
    color: #56C4C5;
}
.footer2 p {
    background: #F5F5F5;
    padding: 16px 0;
    text-align: center;
    font-size: 16px;
}
/*RWD (max-width:992px)*/
@media(max-width:992px){
.wrap{
    padding: 0px 20px;
}
.banner-txt h3{
    font-size: 30px;
    margin-bottom: 10px;
}
.banner-txt h4{
    font-size: 14px;
}
.platform-type h3{
    font-size: 20px;
}
.platform-type h4{
    font-size: 14px;
}
.situation-txt p{
    font-size: 14px;   
}
}
/*RWD (max-width:768px)*/
@media(max-width:768px){
.banner{
    margin-bottom: 0px;
}
.banner-txt h2{
    font-size: 14px;
}
.banner img{
    max-width: 50%;
}
.platform{
    margin-bottom: 36px;
}
.platform-type h3{
    font-size: 16px;
}
.feature ul li{
    padding: 20px 20px 30px;
}
.comment ul li{
    padding: 36px 8px 12px;
}
}
/*RWD (max-width:576px)*/
@media(max-width:576px){
body{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home_sm.svg);
    background-position: center 5%;
}
.header{
    padding: 16px;
}
.header h1 a{
    width: 131px;
}
.header-btn{
    font-size: 16px;
    padding: 8px 32px;
}
.header{
    border-bottom: 2px solid #FFD153;;
}
.banner{
    flex-wrap: wrap;
    margin-top: 32px;
    margin-bottom: 60px;
}
.banner-txt{
    width: 100%;
    margin-bottom: 32px;
}
.banner-txt h2{
    font-size: 16px;
    margin-bottom: 8px;
}
.banner-txt h3{
    font-size: 32px;
    margin-bottom: 16px;
}
.banner-txt h4{
    font-size: 16px;
}
.banner img{
    max-width: 80%;
    height: 305px;
    margin: 0 auto;
}
.platform-type{
    flex-wrap: wrap;
}
.platform-type li{
    width: 100%;
    margin-bottom: 24px;
}
.platform-type img {
    width: 60px;
    height: 60px;
    margin-bottom: 16px;
}
.platform-type h3{
    font-size: 18px;
}
.platform-type h4{
    padding-top: 16px;
}

.situation-item{
    flex-wrap: wrap;
}
.situation-item li{
    width: 260px;
    margin: 0 auto;
    margin-bottom: 24px;
}
.feature{
    flex-direction: column-reverse;
}
.feature-txt{
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
}
.feature-txt p{
    font-size: 16px;
}
.feature ul{
    width: 100%;
    margin-bottom:60px;
}
.feature ul li{
    width: 230px;
    margin: 0 auto 24px;
    padding:32px 24px 48px;
    flex-wrap: wrap;
    flex-direction: column;
}
.comment ul{
    flex-direction: column;
}
.comment ul li {
    margin-bottom:70px;
}
.footer{
    height:410px ;
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/footer_sm.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.footer h3{
    font-size: 24px;
    padding-bottom: 24px;
}
}